<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <v-card width="700" class="mx-auto">
          <v-card-title>
            <h1 class="display-1">Vat form</h1>
          </v-card-title>
          <v-card-text v-if="isLoading">
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </v-card-text>
          <template v-else>
            <v-card-text>
              <v-form ref="form" lazy-validation>
                <v-autocomplete
                  v-model="model.customersCountry"
                  :items="mapedCountries"
                  :error-messages="errors"
                  label="Customers country"
                  item-text="name"
                  item-value="value"
                  :rules="requiredRule"
                  :errorMessages="hasErrorCustomerCountries"
                ></v-autocomplete>

                <v-autocomplete
                  v-model="model.providerCountry"
                  :items="mapedCountries"
                  :rules="requiredRule"
                  :error-messages="errors"
                  label="Providers country"
                  item-text="name"
                  item-value="value"
                  :errorMessages="hasErrorProviderCountry"
                ></v-autocomplete>

                <v-text-field
                  label="Service name"
                  :rules="requiredRule"
                  v-model="model.serviceName"
                ></v-text-field>
                <v-text-field
                  type="number"
                  :rules="requiredRule"
                  label="Service price"
                  v-model="model.servicePrice"
                ></v-text-field>
                <v-checkbox
                  v-model="model.isVatPayer"
                  label="Provider VAT payer"
                ></v-checkbox>
              </v-form>
            </v-card-text>
            <v-divider />
            <v-card-actions>
              <v-btn color="success" class="mr-4" @click.stop="submit">
                Submit
              </v-btn>

              <v-btn color="info" class="mr-4" @click="resetForm">
                Reset
              </v-btn>
            </v-card-actions>
          </template>
        </v-card>
      </div>
    </div>
    <v-dialog v-model="dialog" max-width="700">
      <vat-output
        :data="dialogInfo"
        @closeDialog="closeDialog"
        @click:outside="closeDialog"
      />
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import VatOutput from "@/components/VatOutput";

export default {
  components: {
    VatOutput,
  },
  created() {
    if (!this.mapedCountries.length) {
      this.fetchCountries();
    }
  },
  computed: {
    ...mapState("countries", ["isLoading", "erorrs"]),
    ...mapGetters("countries", ["mapedCountries"]),
  },
  data: () => ({
    requiredRule: [(v) => !!v || "Field is required"],
    hasErrorProviderCountry: "",
    dialogInfo: {},
    hasErrorCustomerCountries: "",
    model: {
      customersCountry: [],
      providerCountry: [],
      isVatPayer: false,
      serviceName: "",
      servicePrice: "",
    },
    dialog: false,
    errors: [],
  }),
  methods: {
    closeDialog() {
      this.dialogInfo = {};
      this.dialog = false;
    },
    resetForm() {
      this.model = {
        customersCountry: [],
        providerCountry: [],
        isVatPayer: false,
        serviceName: "",
        servicePrice: "",
      };
    },
    validateSelect(field) {
      this.field = field.length ? "" : "Field is requered";
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.dialog = true;
        this.dialogInfo = this.model;
      } else {
        this.hasErrorCustomerCountries = this.model.customersCountry.length
          ? ""
          : "Field is requered";
        this.hasErrorProviderCountry = this.model.providerCountry.length
          ? ""
          : "Field is requered";
      }
    },
    ...mapActions("countries", ["fetchCountries"]),
  },
  watch: {
    "model.customersCountry": function(newVal) {
      this.hasErrorCustomerCountries = newVal.length ? "" : "Field is requered";
    },
    "model.providerCountry": function(newVal) {
      this.hasErrorProviderCountry = newVal.length ? "" : "Field is requered";
    },
  },
};
</script>
