<template>
  <div class="text-center">
    <v-card>
      <v-card-title class="text-h5">
        Invoce
      </v-card-title>

      <v-card-text v-if="isLoading">
        <v-progress-circular
          v-if="isLoading"
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-card-text>

      <v-card-text v-else>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Service
                </th>
                <th class="text-left">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">{{ data.serviceName }}</td>
                <td class="text-left">{{ data.servicePrice }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-divider></v-divider>
        <div class="text-left">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="pb-3">
                SubTotal: {{ data.servicePrice }}
              </v-list-item-title>
              <v-list-item-title class="pb-3" v-if="vatRate !== undefined">
                VAT tax {{ vatRate }}%:
                {{ priceTotal(data.servicePrice, vatRate).toFixed(2) }}
              </v-list-item-title>
              <v-list-item-title class="pb-3">
                Total:
                {{
                  vatRate !== undefined
                    ? (priceTotal(data.servicePrice, vatRate) +
                      parseInt(data.servicePrice, 10)).toFixed(2)
                    : data.servicePrice
                }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="info" @click="close">
          CLose
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { getVatByCountry } from "@/services/VatService";

export default {
  props: {
    data: Object,
  },
  data: () => ({ isLoading: false, vatRate: 0 }),
  methods: {
    priceTotal(num, amount) {
      return (parseInt(num, 10) * parseInt(amount, 10)) / 100;
    },
    vat() {
      if (!this.data.isVatPayer) {
        return undefined;
      } else if (
        this.data.isVatPayer &&
        this.data.customersCountry[0].region !== "Europe"
      ) {
        return 0;
      } else if (
        this.data.isVatPayer &&
        this.data.customersCountry[0].region === "Europe" &&
        this.data.customersCountry[0].code !== this.data.providerCountry[0].code
      ) {
        this.getVat();
      } else if (
        !this.data.isVatPayer &&
        this.data.customersCountry[0].region === "Europe" &&
        this.data.customersCountry[0].code !== this.data.providerCountry[0].code
      ) {
        return 0;
      } else if (
        this.data.isVatPayer &&
        this.data.customersCountry[0].code === this.data.providerCountry[0].code
      ) {
        this.getVat();
      } else {
        return undefined;
      }
    },
    async getVat() {
      this.isLoading = true;
      try {
        const { data } = await getVatByCountry(
          this.data.customersCountry[0].code
        );
        this.isLoading = false;
        this.vatRate = data.standard_rate;
      } catch (e) {
        this.isLoading = false;
        this.vatRate = undefined;
      }
    },
    close() {
      this.$emit("closeDialog");
    },
  },
  watch: {
    data: {
      handler: function() {
        this.vatRate = this.vat();
      },
      deep: true,
      immediate: true,
    },
  },
};
</script>
