<template>
  <div id="app">
    <v-app>
      <Navigation />
      <v-main class="mt-4">
        <Home />
      </v-main>
    </v-app>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation"
import Home from "@/views/Home"

export default {
  components: {
    Navigation,
    Home
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
